*{
    margin:0;
    padding: 0;
    background-color: lightblue;
    box-sizing: border-box;
}

#button-container{
    display: flex;
    justify-content: space-around;
    height: 200px;
    
}

#header-container{
    display: flex;
    justify-content: center;
}

.title-text{
    color: coral;
    font-weight: bold;
}

#score-container{
    height: 45px;
    display: flex;
    justify-content: space-around;
}

.scores{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100vw;
}

.computer-choice{
    display: flex;
    align-self: center;
    justify-self:center ;
    height: 150px;
    color: coral;
    font-size: 18px;
    align-items: center;
}

.player-score, .computer-score{
    font-size: 18px;
    color: coral;
}



#game-info{
    height: 50px;
    display: flex;
    justify-content: center;
}

.player-prompt{
    align-self: center;
    color: coral;
}

.paper, .rock, .scissors, .new-game{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 60px;
    background-color: coral;
    color:white;
    border-radius: 8px;
}

#new-game-button-container{
    display: flex;
    justify-content: center;
    
}

.new-game{
    margin-bottom: 10px;
}
